<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Google Sign On</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.487475565392-7t7crq9h95l038k89m6g59c9kr711p43</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>487475565392-7t7crq9h95l038k89m6g59c9kr711p43.apps.googleusercontent.com</string>
	<key>NEWS_API_KEY</key>
	<string>$(NEWS_API_KEY)</string>
	<key>SUPABASE_PUBLISHABLE_KEY</key>
	<string>$(SUPABASE_PUBLISHABLE_KEY)</string>
	<key>SUPABASE_URL</key>
	<string>$(SUPABASE_URL)</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Apollo uses your photo library so you can choose a profile image.</string>
</dict>
</plist>
